section.detail {
    margin-top: 30px;
}

section.detail .detail_images {
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}

section.detail .detail_row {
    display: flex;
    justify-content: space-between;
}

section.detail .detail_col {
    max-width: 48%;
    flex: 0 0 48%;
}

section.detail .small_pics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .4rem;
}

section.detail .main_pic img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #a8a8a8;
}

section.detail .mass_detail {
    color: #898989;
    margin-left: 1rem;
    font-weight: 600;
    background-color: #c8c8c8;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 1.1rem;
}

section.detail .small_pics .pic_col {
    width: 100px;
}

section.detail .small_pics img {
    width: 100%;
    border: 1px solid #a8a8a8;
    aspect-ratio: 1/1;
    cursor: pointer;
}

section.detail .product_details_text .cate {
    color: #6f6f6f;
    margin-bottom: 4px;
}

section.detail .product_details_text del {
    color: #6f6f6f;
    font-size: 1.2rem;
    font-weight: 500;
}

section.detail .product_details_text h3 {
    color: #252525;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 30px;
}

section.detail .product_details_price {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 15px;
}

section.detail .product_details_text p {
    margin-bottom: 45px;
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
}

section.detail .product_details_quantity {
    display: inline-block;
    margin-right: 6px;
}

section.detail .pro_qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}

section.detail .pro_qty .qtybtn {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
}

section.detail .pro_qty input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #6f6f6f;
    width: 50px;
    border: none;
    background: #f5f5f5;
    text-align: center;
}

section.detail .product_details_text .primary_btn {
    padding: 16px 28px 14px;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: var(--primary-color);
    letter-spacing: 2px;
    margin-right: 6px;
    margin-bottom: 5px;
}

section.detail .product_details_text .heart_icon {
    display: inline-block;
    font-size: 16px;
    color: #6f6f6f;
    padding: 13px 16px 13px;
    background: #f5f5f5;
}

section.detail .product_details_text .heart_icon i.active {
    color: var(--primary-color);
}

section.related_product {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

section.related_product h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
    margin-bottom: 3rem;
}

section.related_product h2::after,
section.blog h2::after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: var(--primary-color);
    content: "";
    margin: 0 auto;
}

section.related_product .list_prod {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}